<div
  class="d-flex flex-column flex-md-row align-items-center p-2 px-md-5 mb-3 shadow-sm"
>
  <h4 class="my-3 mr-auto">
    <b>CRUD Operation(Angular, NodeJS, Sequelize, Postgres)</b>
  </h4>
  <nav>
    <a
      class="btn btn-outline-secondary mr-4"
      routerLinkActive="active"
      routerLink="/create"
      >Add User Data</a
    >
    <a
      class="btn btn-outline-secondary"
      routerLinkActive="active"
      routerLink="/read"
      >View User Details</a
    >
  </nav>
</div>

<router-outlet></router-outlet>
