<p *ngIf="registeredList.length <= 0" class="no-data text-center">
  The List is Empty!
</p>

<!-- Data List -->
<h3 class="text-center mb-3" *ngIf="registeredList.length > 0">
  <u>Total Registrations</u>
</h3>
<div>
  <div class="table-responsive">
    <table class="table table-bordered" *ngIf="registeredList.length > 0">
      <thead class="table-success">
        <tr>
          <th scope="col" class="text-center">S.No</th>
          <th scope="col" class="text-center">First Name</th>
          <th scope="col" class="text-center">Last Name</th>
          <th scope="col" class="text-center">Email</th>
          <th scope="col" class="text-center">Mobile</th>
          <th scope="col" class="text-center">Date Of Birth</th>
          <th scope="col" class="text-center">Gender</th>
          <th scope="col" class="text-center">Address <br />(1234 Main St)</th>
          <th scope="col" class="text-center">
            Address 2 <br />(Apartment, floor and area)
          </th>
          <th scope="col" class="text-center">City</th>
          <th scope="col" class="text-center">State</th>
          <th scope="col" class="text-center">Zip</th>
          <th scope="col" class="text-center">Update/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of registeredList; let i = index">
          <th scope="row" class="text-center">{{ data.id }}</th>
          <td>{{ data.firstName }}</td>
          <td>{{ data.lastName }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.mobile }}</td>
          <td>{{ data.dob }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address2 }}</td>
          <td>{{ data.city }}</td>
          <td>{{ data.state }}</td>
          <td>{{ data.zip }}</td>
          <td class="text-center edit-block">
            <div class="pt-2">
              <span class="edit mr-2" [routerLink]="['/edit/', data.id]">
                <svg
                  width="1em"
                  style="color: #2962ff; font-size: 37px"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-pencil-square"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </span>
              <span class="delete" (click)="removeOneRegisteredData(data, i)">
                <svg
                  style="color: #ff5252; font-size: 37px"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-trash"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
